@font-face {
    font-family: Pokemon GB;
    src: url(../assets/fonts/Pokemon\ GB.ttf);
}

body{
    font-family: "Pokemon GB", sans-serif;
}

.gameContainer {
    width: 1080px;
    height: 720px;
    border: 2px black solid;
    position: relative;
    margin: auto;
    display: none;
    background-repeat: no-repeat;
    background-size: cover;
}
#gameContainerPreStart {
    display: inherit;
}
button {
    border: 3px solid #736B84;
    background-color: grey;
    font-family: "Pokemon GB", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover {
    background-color: white;
    cursor: pointer;

}

#gameStartBtn {
    position: absolute;
    left: 460px;
    top: 300px;
    height: 100px;
    width: 200px;
    font-size: larger
}

#gameContainerMainMenu {
    background-image: url(../assets/menu.png);
}

@keyframes fadeinandout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 100;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) }
    10% { transform: translate(-1px, -2px) ; }
    20% { transform: translate(-3px, 0px) }
    30% { transform: translate(3px, 2px) }
    40% { transform: translate(1px, -1px) }
    50% { transform: translate(-1px, 2px) ; }
    60% { transform: translate(-3px, 1px) }
    70% { transform: translate(3px, 1px) ; }
    80% { transform: translate(-1px, -1px) }
    90% { transform: translate(1px, 2px) }
    100% { transform: translate(1px, -2px) ; }
  }

#gameContainerBattle {
    background-image: url(../assets/wildBattleBg.png);
    display: none;
}

.battleMyPokemonContainer img {
    position: absolute;
    width: 540px;
    height: 500px;
    bottom: 100px;
    object-fit: contain;
    /* Temporary while we wait for back sprites*/
    transform: scaleX(-1);
}
.battleEnemyPokemonContainer img {
    position: absolute;
    width: 540px;
    height: 320px;
    right: 0;
    object-fit: contain;
}

.battleMyPokemonHUD {
    position: absolute;
    right: 100px;
    background-color: #F9F8D4;
    bottom: 235px;
    width: 300px;
    border: 4px black solid;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.battleEnemyPokemonHUD {
    position: absolute;
    left: 100px;
    background-color: #F9F8D4;
    top: 35px;
    width: 300px;
    border: 4px black solid;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.battleEnemyPokemonHUD h2 {
    margin: 10px;
    margin-left: 10px;
}
.battleMyPokemonHUD h2{
    margin: 10px;
    margin-left: 30px;
}

.battleEnemyPokemonHUD .hpBar {
    top: 40px;
}
.hpBar {
    background-color: aqua;
    border: 2px black solid;
    position: absolute;
    height: 10px;
    top: 50px;
    left: 20px;
    width: 260px;
    border-radius: 6px

}
.healthNumber {
    text-align: right;
    padding-right: 40px;
}
.battleHumanInterfaceElements {
    position: absolute;
    z-index: 3;
    right: 40px;
    bottom: 60px;
    margin: auto;
    text-align: center;

}
