#gameContainerMainMenu {
    color: rgb(231, 231, 231);
    font-weight: 700;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: x-large;
}

#gameContainerMainMenu h3 {
    left: 290px;
    top: 450px;
    position: absolute;
    animation: fadeinandout 1s infinite;
}

#gameContainerSecondaryMenu {
    background-color: #8C94FF;
    font-size: xx-large;
}
#secondaryMenuButtons {
    top: 40px;
    position: absolute;
    width: 100%;
}
#secondaryMenuButtons button {
    width: 100%;
    text-align: left;
    font-size: xx-large;

}

#continueButtonSaveInfoLeft {
    color: red;
    width: 50%;
    left: 0;
    
}
#continueButtonSaveInfoRight {
    color: red
}