#gameContainerMainMenu {
    color: rgb(231, 231, 231);
    font-weight: 700;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: x-large;
}

#gameContainerMainMenu h3 {
    left: 290px;
    top: 450px;
    position: absolute;
    animation: fadeinandout 1s infinite;
}

#gameContainerSecondaryMenu {
    background-color: #8C94FF;
    font-size: xx-large;
}
#secondaryMenuButtons {
    top: 40px;
    position: absolute;
    width: 100%;
}
#secondaryMenuButtons button {
    width: 100%;
    text-align: left;
    font-size: xx-large;

}

#continueButtonSaveInfo {
    color: red;
}

#continueButton {
    display: none;
}

#gameContainerBirchMoment {
    background-color: black;

}


#gameContainerCharacterSelection {
    background-color: black;
}
.introductionForms {
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#characterChoiceSprite {
    position: absolute;
    width: 540px;
    height: 470px;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto;
}

#characterChoiceSprite img {
    object-fit: contain;
    width: 540px;
    height: 420px;
}

#nameChoice {
    display: none;
}

#gameContainerOptionsMenu {
    background-color: #8C94FF;
    text-align: center;
}

#optionItems {
    background-color: white;
    border: 4px orange solid;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

#birchSprite {
    position: absolute;
    width: 540px;
    height: 470px;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto;
}

#birchSprite img {
    object-fit: contain;
    width: 540px;
    height: 420px;
}