#gameContainerTown1{
    display: inherit;
}

#healthDisplay {
    position: absolute;
    right: 10px;
    background-color: #F9F8D4;
    bottom: 20px;
    width: 300px;
    border: 4px black solid;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 0.7;
}

#hpBar {
    background-color: aqua;
    border: 2px black solid;
    position: absolute;
    height: 10px;
    top: 50px;
    left: 20px;
    width: 260px;
    border-radius: 6px

}

#healthNumber {
    text-align: right;
    padding-right: 40px;
}

#playerName {
    margin: 10px;
    margin-left: 30px;
}

#gameContainerGameOver {
    background-color: #8C94FF;
    font-size: xx-large;
}
#gameOverButtonContainer {
    top: 40px;
    position: absolute;
    width: 100%;
}
#gameOverButtonContainer button {
    width: 100%;
    text-align: left;
    font-size: xx-large;

}